<% layout('layouts/boilerplate') %> 

<div class="text-center">
    <h1>Admin Timetable</h1>
    <p>Admins can adjust the timetable here.</p>
</div>

<table id="adminTimetable" class="table table-hover table-responsive w-auto" style="border: 2px solid black">
    <!-- javascript appends here -->
</table>

<script src="/javascripts/makeTimetable.js" type="text/javascript"></script>
<script> makeTimetable(document.getElementById('adminTimetable'), 
    <%-JSON.stringify(musicPrograms)%>);
</script>