<div class="flex">
    <aside class="w-60 h-screen sticky top-0 shadow-md bg-white">
        <div class="pt-4 pb-2 px-6">
            <a href="#!">
                <div class="flex items-center">
                    <div class="shrink-0">
                        <img src="/icons/user-auth.png">
                    </div>
                    <div class="grow ml-2">
                        <p class="text-sm font-semibold text-blue-600">Robbie Gollan</p>
                    </div>
                </div>
            </a>
        </div>
        <hr class="my-2">
        <ul class="relative px-1">
            <li class="relative">
                <a class="flex items-center text-sm py-4 px-6 h-12 overflow-hidden text-gray-700 text-ellipsis whitespace-nowrap rounded hover:text-blue-600 hover:bg-blue-50 transition duration-300 ease-in-out"
                    href="/admin/timetable">
                    <img src="/icons/group.png">
                    <span class="mx-3">Group</span>
                </a>
            </li>
        </ul>
        <ul class="relative px-1">
            <li class="relative">
                <a class="flex items-center text-sm py-4 px-6 h-12 overflow-hidden text-gray-700 text-ellipsis whitespace-nowrap rounded hover:text-blue-600 hover:bg-blue-50 transition duration-300 ease-in-out"
                    href="/admin/timetable">
                    <img src="/icons/one.png">
                    <span class="mx-3">Room 1</span>
                </a>
            </li>
        </ul>
        <ul class="relative px-1">
            <li class="relative">
                <a class="flex items-center text-sm py-4 px-6 h-12 overflow-hidden text-gray-700 text-ellipsis whitespace-nowrap rounded hover:text-blue-600 hover:bg-blue-50 transition duration-300 ease-in-out"
                    href="/admin/timetable">
                    <img src="/icons/two.png">
                    <span class="mx-3">Room 2</span>
                </a>
            </li>
        </ul>
        <hr class="my-2">
        <ul class="relative px-1">
            <li class="relative">
                <a class="flex items-center text-sm py-4 px-6 h-12 overflow-hidden text-gray-700 text-ellipsis whitespace-nowrap rounded hover:text-blue-600 hover:bg-blue-50 transition duration-300 ease-in-out"
                    href="/admin/student/index">
                    <img src="/icons/monitor.png">
                    <span class="mx-3">Website Log</span>
                </a>
            </li>
        </ul>
        <ul class="relative px-1">
            <li class="relative">
                <span class="mx-3">
                    <a class="flex items-center text-sm py-4 px-6 h-12 overflow-hidden text-gray-700 text-ellipsis whitespace-nowrap rounded hover:text-blue-600 hover:bg-blue-50 transition duration-300 ease-in-out"
                        href="/admin/enquiries">
                        <img src="/icons/message.png">
                        <span class="mx-3">Enquiries</span>
                    </a>
                </span>
            </li>
        </ul>
        <hr class="my-2">
        <ul class="relative px-1">
            <li class="relative">
                <a class="flex items-center text-sm py-4 px-6 h-12 overflow-hidden text-gray-700 text-ellipsis whitespace-nowrap rounded hover:text-blue-600 hover:bg-blue-50 transition duration-300 ease-in-out"
                    href="/admin/student/index">
                    <img src="/icons/students.png">
                    <span class="mx-3">Students</span>
                </a>
            </li>
        </ul>
        <ul class="relative px-1">
            <li class="relative">
                <a class="flex items-center text-sm py-4 px-6 h-12 overflow-hidden text-gray-700 text-ellipsis whitespace-nowrap rounded hover:text-blue-600 hover:bg-blue-50 transition duration-300 ease-in-out"
                    href="/admin/parent/index">
                    <img src="/icons/team.png">
                    <span class="mx-3">Parents</span>
                </a>
            </li>
        </ul>
        <ul class="relative px-1">
            <li class="relative">
                <a class="flex items-center text-sm py-4 px-6 h-12 overflow-hidden text-gray-700 text-ellipsis whitespace-nowrap rounded hover:text-blue-600 hover:bg-blue-50 transition duration-300 ease-in-out"
                    href="/admin/music_program/index">
                    <img src="/icons/music-note.png">
                    <span class="mx-3">Music Programs</span>
                </a>
            </li>
        </ul>
    </aside>
    <main class="relative mx-auto px-1">