  </main>
</div>

<footer class="bg-gray-100 text-center lg:text-left mt-5">
  <div class="text-gray-700 text-center p-4">
    © 2023 International School of Music Leichhardt - Made with help from
    <a class="text-gray-800 underline" href="https://tailwind-elements.com/">Tailwind Elements</a>
  </div>
</footer>