<div class="bg-gray-100 text-center lg:text-left mt-5">
  <div class="text-gray-700 text-center p-4">
    <p>
      © 2023 International School of Music Leichhardt
    </p>
    <p class="text-xs text-gray-500 text-center">
      Made with help from <a class="underline" href="https://tailwind-elements.com/">Tailwind Elements</a>
    </p>
  </div>
</div>