<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ISM Leichhardt</title>
    <!-- Tailwind CSS -->
    <link href="/dist/output.css" rel="stylesheet">
</head>

<body>
  <%- include('../partials/navbar') %>
  <%- include('../partials/admin-sidebar') %>
  <%- include('../partials/flash') %>
  <%- body %>
</main>
</div>

  <script src='/javascripts/validateForms.js'></script>
  <!-- <script src="/node_modules/tw-elements/dist/js/index.min.js"></script> ...this just doesn't work for me and I don't know why... -->
  <script src="https://cdn.jsdelivr.net/npm/tw-elements/dist/js/index.min.js"></script>
</body>