<% layout('layouts/admin-boilerplate') %>
<h1 class="text-4xl underline text-center pt-5">Students</h1>
<div class="flex-col">
    <div class="overflow-x-auto sm:-mx-6 lg:-mx-8 pt-5">
        <div class="py-2 inline-block min-w-full sm:px-6 lg:px-8">
            <div class="overflow-hidden">
                <table id="studentsTable" class="min-w-full">
                    <script src="/javascripts/renderStudentsTable.js" type="text/javascript"></script>
                    <script> renderStudentsTable(document.getElementById('studentsTable'), <%-JSON.stringify(students) %>);</script>
                </table>
            </div>
        </div>
    </div>
</div>