<% layout('layouts/admin-boilerplate') %>
    <div class="text-center">
        <h1>Add a Program</h1>
        <p>Admins can manually add music programs on this page.</p>
    </div>

    <form action="/admin/music_program/add_program" method="POST" novalidate class="needs-validation">
        <div class="card p-5 container col-md-6 offset-md-3">
            <section>
                <div class="row form-floating mb-3">
                    <input class="form-control" type="text" id="title" name="musicProgram[title]"
                        placeholder="Title" required autofocus>
                    <div class="invalid-feedback">
                        Music program requires a valid title.
                    </div>
                    <label class="form-label" for="title">Title</label>
                </div>

                <div class="row form-floating mb-3">
                    <select class="form-select" id="day" aria-label="Day dropdown menu"
                        name="musicProgram[day]" required>
                        <option selected disabled value="">---</option>
                        <option value="Monday">Monday</option>
                        <option value="Tuesday">Tuesday</option>
                        <option value="Wednesday">Wednesday</option>
                        <option value="Thursday">Thursday</option>
                        <option value="Friday">Friday</option>
                        <option value="Saturday">Saturday</option>
                        <option value="Sunday">Sunday</option>
                    </select>
                    <div class="invalid-feedback">
                        Please select a day.
                    </div>
                    <label class="form-label" for="day">Day</label>
                </div>

                <div class="row form-floating mb-3">
                    <input class="form-control" type="text" id="time" name="musicProgram[time]"
                        placeholder="Time" required>
                    <div class="invalid-feedback">
                        Music program requires a valid time.
                    </div>
                    <label class="form-label" for="time">Time</label>
                </div>

                <div class="row form-floating mb-3">
                    <input class="form-control" type="text" id="duration" name="musicProgram[duration]"
                        placeholder="Duration" required>
                    <div class="invalid-feedback">
                        Music program requires a valid duration.
                    </div>
                    <label class="form-label" for="duration">Duration</label>
                </div>

                <div class="row form-floating mb-3">
                    <input class="form-control" type="text" id="teacher" name="musicProgram[teacher]"
                        placeholder="Teacher" required>
                    <div class="invalid-feedback">
                        Music program requires a valid teacher.
                    </div>
                    <label class="form-label" for="teacher">Teacher</label>
                </div>

                <div class="row form-floating mb-3">
                    <select class="form-select" id="room" aria-label="Room dropdown menu"
                        name="musicProgram[room]" required>
                        <option selected disabled value="">---</option>
                        <option value="Group">Group</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                    </select>
                    <div class="invalid-feedback">
                        Please select a room.
                    </div>
                    <label class="form-label" for="room">Room</label>
                </div>

                <div class="row form-floating mb-3">
                    <textarea class="form-control" placeholder="Notes" id="notes"
                        style="height: 150px" name="musicProgram[notes]">-</textarea>
                    <label class="form-label" for="notes">Notes</label>
                </div>

                <div class="row mt-3">
                    <button class="btn btn-primary">Add Program</button>
                </div>
            </section>
        </div>
    </form>