<% layout('layouts/boilerplate') %>
<div class="mb-auto">
    <section class="mb-auto">
        <%- include('../partials/header-image') %>
    </section>
    <div class="max-w-6xl mx-auto">
        <section class="mx-4 sm:mx-12 md:mx-20 lg:mx-32">
            <div class="text-center mb-6">
                <h1 class="mt-12 mb-3 text-4xl font-extrabold leading-none tracking-tight text-grey-900 md:text-5xl lg:text-6xl dark:text-white">About Us</h1>
                <p class="mb-6 text-lg md:text-xl lg:text-2xl text-gray-500 dark:text-gray-400 font-medium"><span class="text-blue-600 font-semibold">Decades of leading experience</span> conducting piano and group music lessons in the inner west, and <span class="text-blue-600 font-semibold">we're not done yet.</span></p>
        </section>
        <section class="mx-4 sm:mx-12 md:mx-20 lg:mx-32">
            <div class="flex flex-col sm:flex-row">
                <div class="flex-1 mt-2 mb-6 sm:mr-4 md:mr-6 lg:mr-10">
                    <img class="object-contain rounded-xl mx-auto w-4/5 h-auto" src="https://ismleichhardt.com.au/wp-content/uploads/2021/06/Lrge_1ML4631-scaled.jpg" alt="School director, Mara Nicola">
                </div>
                <div class="flex-1 sm:ml-4 md:ml-6 lg:ml-10">
                    <h2 class="mb-3 text-2xl font-extrabold leading-none tracking-tight text-grey-900 md:text-3xl lg:text-4xl dark:text-white text-center md:text-left">Since 2004</h2>
                    <div class="text-gray-500 leading-snug md:leading-relaxed text-left">
                        <p class="mb-4">
                        Since opening our doors in 2004, the International School of Music Leichhardt has been teaching group music and 
                        piano courses specifically tailored to students developmental ages. Starting from as early as two years of age, we 
                        build up their musical foundations while still making sure their journey is full of fun. Students continue learning 
                        new curriculum as they grow and transition through primary, high school and even university.
                        </p>
                        <p class="mb-4">
                        Over the years, we have assisted many of our students in gaining scholarships to high schools, others to pursue 
                        musical careers in bands, and we have helped students pursue their musical education at a tertiary level. It is a 
                        pleasure having been a part of their musical journey and we look forward many more years ahead.
                        </p>
                        <p class="mb-4">
                        Our courses are age appropriate, taught by exceptional teachers with strong musical backgrounds and with the ability 
                        to relate to young students.
                        </p>
                    </div>
                </div>
            </div>
        </section>
        <section class="mx-4 sm:mx-12 md:mx-20 lg:mx-32">
            <div class="flex flex-col sm:flex-row">
                <div class="flex-1 mt-4 mb-6 sm:hidden">
                    <img class="object-contain rounded-xl mx-auto w-4/5 h-auto" src="https://ismleichhardt.com.au/wp-content/uploads/2021/04/Inner-west-business-awards.png" alt="School director, Mara Nicola">
                </div>
                <div class="flex-1 mt-4 mb-6 sm:mr-4 md:mr-6 lg:mr-10">
                    <h2 class="mb-3 text-2xl font-extrabold leading-none tracking-tight text-grey-900 md:text-3xl lg:text-4xl dark:text-white text-center md:text-left">Awards</h2>
                    <div class="text-gray-500 leading-snug md:leading-relaxed text-left">
                        <p class="mb-6">
                            We have been the proud recipients of the 2019 Local Inner West Business Awards and finalists in the 2020 Awards. 
                            It was wonderful to be recongnised for all the hard work our staff have achieved and we are thankful to all of our 
                            wonderful students and parent community for nominating and voting for us.
                        </p>
                    </div>
                    <h2 class="mb-3 text-2xl font-extrabold leading-none tracking-tight text-grey-900 md:text-3xl lg:text-4xl dark:text-white text-center md:text-left">Facilities</h2>
                    <div class="text-gray-500 leading-snug md:leading-relaxed text-left">
                        <p class="mb-6">
                            At the International School of Music Leichhardt, our classrooms are fully equipped to teach group classes and private 
                            lessons. With more than 10 digital pianos, a variety of percussion instruments, and many teaching aids, students will have 
                            the opportunity to learn in a fun and safe musical environment.
                        </p>
                    </div>
                </div>
                <div class="flex-1 mt-4 mb-6 sm:ml-4 md:ml-6 lg:ml-10 hidden sm:block">
                    <img class="object-contain rounded-xl mx-auto w-4/5 h-auto" src="https://ismleichhardt.com.au/wp-content/uploads/2021/04/Inner-west-business-awards.png" alt="Local Business Awards Logo">
                    <img class="object-contain rounded-xl mt-4 mx-auto w-4/5 h-auto" src="https://ismleichhardt.com.au/wp-content/uploads/2021/06/Finalist-Business-Awards-2020-Mara-and-Maria.png" alt="Mara and Maria, finalists 2020">
                </div>
                <div class="flex-1 mb-6 sm:hidden">
                    <img class="object-contain rounded-xl mx-auto w-4/5 h-auto" src="https://ismleichhardt.com.au/wp-content/uploads/2021/06/Finalist-Business-Awards-2020-Mara-and-Maria.png" alt="Mara and Maria, finalists 2020">
                </div>
            </div>
        </section>
    </div>   
</div>