<% layout('layouts/boilerplate') %>
    <div class="mb-auto">
        <section>
            <%- include('../partials/header-image') %>
        </section>
        <div class="max-w-7xl mx-auto">
            <section class="mx-4 sm:mx-12 md:mx-20 lg:mx-32">
                <div class="text-center mb-6">
                    <h1
                        class="mt-12 mb-3 text-4xl font-extrabold leading-none tracking-tight text-grey-900 md:text-5xl lg:text-6xl dark:text-white">
                        Staff and Teachers</h1>
                    <p class="mb-8 text-lg md:text-xl lg:text-2xl text-gray-500 dark:text-gray-400 font-medium">All International School of Music teachers are Bachelor 
                            trained in either Music or Education and are specially chosen for their warm and friendly personalities.</p>
            </section>
            
            <div class="my-12 flex flex-col sm:flex-row">
                <div class="flex-1 mx-6">
                    <div class="flex justify-center mb-4">
                        <img src="https://mdbootstrap.com/img/Photos/Avatars/img%20(1).jpg" class="rounded-full shadow-lg w-32" />
                    </div>
                    <div class="text-center">
                        <h5 class="text-2xl font-semibold">Mara Nicola</h5>
                        <h6 class="font-semibold text-blue-600 mb-4">School Director, Group Class and Individual Piano Teacher</h6>
                        <div class="text-gray-500 leading-snug text-center sm:text-left">
                            <p class="mb-4">
                                Mara is the Musical Director and ISM group and individual piano teacher. Mara holds a Bachelor of 
                                Music Degree and majored in Sound Engineering. 
                            </p>
                            <p class="mb-4">
                                Mara has taught hundreds of students over 19 years of teaching the ISM curriculum and is very proud 
                                to watch her students grow, perform and graduate as brilliant young musicians. Her three children 
                                play the piano, violin as well as other instruments and also perform in school bands having benefited 
                                from the musicianship taught through the ISM curriculum.
                            </p>
                            <p class="mb-4">
                                Mara loves to travel, sports, and movies.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="flex-1 mx-6">
                    <div class="flex justify-center mb-4 mt-12 sm:mt-0">
                        <img src="https://mdbootstrap.com/img/Photos/Avatars/img%20(2).jpg" class="rounded-full shadow-lg w-32" />
                    </div>
                    <div class="text-center">
                        <h5 class="text-2xl font-semibold">Orla Birkett</h5>
                        <h6 class="font-semibold text-blue-600 mb-4">Individual Piano Teacher</h6>
                        <div class="text-gray-500 leading-snug text-center sm:text-left">
                            <p class="mb-4">
                                Orla is a professional musician & teacher from Ireland. She teaches individual piano & music theory, 
                                teaching all levels from beginner to advanced. 
                            </p>
                            <p class="mb-4">
                                Music has been her passion from a very young age, and she endeavours to evoke this passion in her 
                                teaching across to her students and have them learn in a fun, expansive and practical way. She enjoys 
                                exploring new musical concepts & ideas for teaching and plays different instruments, including the viola.
                            </p>
                            <p class="mb-4">
                                She was also a part of the Royal Irish Academy of Music Symphony Orchestra & sang Soprano in their 
                                Chorale choir group.
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="my-12 flex flex-col sm:flex-row">
                <div class="flex-1 mx-6">
                    <div class="flex justify-center mb-4">
                        <img src="https://mdbootstrap.com/img/Photos/Avatars/img%20(4).jpg" class="rounded-full shadow-lg w-32" />
                    </div>
                    <div class="text-center">
                        <h5 class="text-2xl font-semibold">May Buderus</h5>
                        <h6 class="font-semibold text-blue-600 mb-4">Individual Piano Teacher</h6>
                        <div class="text-gray-500 leading-snug text-center sm:text-left">
                            <p class="mb-4">
                                MMus (Classical Piano Performance), Grad Dip Mus (Performance) (Distinct.), Grad Dip (CA), BCom 
                                (Accounting and Finance), L Mus A. 
                            </p>
                            <p class="mb-4">
                                Described by the Queensland Conservatorium as “a soloist of genuine musicality”, Australian 
                                classical pianist May Liu is an active recitalist and music educator.
                            </p>
                            <p>
                                May has over 10 years of experience teaching classical piano. She has taken numerous students 
                                to AMEB exams achieving High Distinction and Honours. May is a currently studying Master of Music 
                                (Piano Performance) at the Sydney Conservatorium.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="flex-1 mx-6">
                    <div class="flex justify-center mb-4 mt-12 sm:mt-0">
                        <img src="https://mdbootstrap.com/img/Photos/Avatars/img%20(3).jpg" class="rounded-full shadow-lg w-32" />
                    </div>
                    <div class="text-center">
                        <h5 class="text-2xl font-semibold">Louis Nicoll</h5>
                        <h6 class="font-semibold text-blue-600 mb-4">Individual Piano Teacher</h6>
                        <div class="text-gray-500 leading-snug text-center sm:text-left">
                            <p class="mb-4">
                                Louis Nicoll is a classical pianist based in Sydney. Originally from Melbourne, he completed his Bachelor 
                                of Music with first class honours in 2018 at the Melbourne Conservatorium of Music. 
                            </p>
                            <p class="mb-4">
                                While still a student, Louis won first prize in Melbourne Youth Orchestra's 2016 'Virtuosity' competition, 
                                performing Liszt's 'Totentanz' for orchestra and piano. He was also awarded numerous scholarships including 
                                the M&E Kefford Scholarship, the Sir William McKie Scholarship, and the Bill Burrell Memorial Scholarship. 
                                Since graduation, Louis has performed internationally, touring Mozart's music in China with Australian 
                                International Productions, and has performed recitals for the Melbourne Digital Concert Hall and at Melbourne's Tempo Rubato.
                            </p>
                            <p>
                                He is currently in Sydney, studying a Masters of Music with Stephanie McCallum on the Chapple Bremner scholarship.
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="my-12 flex flex-col sm:flex-row">
                <div class="flex-1 mx-6">
                    <div class="flex justify-center mb-4">
                        <img src="https://mdbootstrap.com/img/Photos/Avatars/img%20(5).jpg" class="rounded-full shadow-lg w-32" />
                    </div>
                    <div class="text-center">
                        <h5 class="text-2xl font-semibold">Robbie Gollan</h5>
                        <h6 class="font-semibold text-blue-600 mb-4">Individual Piano Teacher</h6>
                        <div class="text-gray-500 leading-snug text-center sm:text-left">
                            <p class="mb-4">
                                Robbie is an individual piano teacher, teaching all levels of piano and music theory.
                            </p>
                            <p class="mb-4">
                                Trained in many different instruments, Robbie has travelled overseas with touring orchestras. He studied A Mus A 
                                Piano and 8th grade Musicianship during high school. He has been teaching students of all ages since 2009, and has 
                                prepared them for AMEB exams for just as long.
                            </p>
                            <p class="mb-4">
                                When Robbie is not teaching or playing music, he spends his time developing websites, just like the one you're viewing 
                                right now!
                            </p>
                        </div>
                    </div>
                </div>
                <div class="flex-1 mx-6">
                    <div class="flex justify-center mb-4 mt-12 sm:mt-0">
                        <img src="https://mdbootstrap.com/img/Photos/Avatars/img%20(6).jpg" class="rounded-full shadow-lg w-32" />
                    </div>
                    <div class="text-center">
                        <h5 class="text-2xl font-semibold">Stansya Kwee</h5>
                        <h6 class="font-semibold text-blue-600 mb-4">Individual Piano Teacher</h6>
                        <div class="text-gray-500 leading-snug text-center sm:text-left">
                            <p class="mb-4">
                                Stansya is an international award-winning, accomplished, and professional virtuoso. Stansya has been playing the 
                                piano for over 17 yearsand is well versed in many different teaching styles and methodologies.
                            </p>
                            <p class="mb-4">
                                Whilst she is still currently completing her Bachelor of Music majoring in Classical Performance at the Australian 
                                Institute of Music, Stansya is no stranger to musical achievements and studies, having been through the ABRSM grading 
                                system herself, alongside the Yamaha grading system and various courses.
                            </p>
                            <p class="mb-4">
                                Stansya’s music prowess extends far beyond her keyboard skills, she has participated in various choir groups, as well 
                                as sharing her knowledge of music as a Music Director to the Saint Theresia Musical Drama group.
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="my-12 flex flex-col sm:flex-row">
                <div class="flex-1 mx-6">
                    <div class="flex justify-center mb-4">
                        <img src="https://mdbootstrap.com/img/Photos/Avatars/img%20(10).jpg" class="rounded-full shadow-lg w-32" />
                    </div>
                    <div class="text-center">
                        <h5 class="text-2xl font-semibold">Sophie Spargo</h5>
                        <h6 class="font-semibold text-blue-600 mb-4">Individual Piano Teacher currently on Maternity Leave</h6>
                        <div class="text-gray-500 leading-snug text-center sm:text-left">
                            <p class="mb-4">
                                Sophie specialises in composition and also teachers  Music Theory and is an accompanist.
                            </p>
                            <p class="mb-4">
                                Sophie holds a B.A Music Composition (Honours), Master of Music (Composition), AmusA in piano.
                            </p>
                            <p class="mb-4">
                                Her interests are Composition, Art galleries and the beach.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="flex-1 mx-6">
                    <div class="flex justify-center mb-4 mt-12 sm:mt-0">
                        <img src="https://mdbootstrap.com/img/Photos/Avatars/img%20(11).jpg" class="rounded-full shadow-lg w-32" />
                    </div>
                    <div class="text-center">
                        <h5 class="text-2xl font-semibold">Samantha Anderson</h5>
                        <h6 class="font-semibold text-blue-600 mb-4">Office Administrator</h6>
                        <div class="text-gray-500 leading-snug text-center sm:text-left">
                            <p class="mb-4">
                                1
                            </p>
                            <p class="mb-4">
                                2
                            </p>
                            <p class="mb-4">
                                3
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>