<% layout('layouts/boilerplate') %>

    <div class="text-center mb-5">
        <h1>Enrolment Form</h1>
        <p><b>Like one of our programs?</b></p>
        <p><b>Complete the enrolment form to make a booking.</b></p>
    </div>

    <form action="/programs/enrolment" method="POST" novalidate class="needs-validation">
        <div class="card p-5 container col-md-6 offset-md-3 mb-3">
            <h2 class="mb-3">Parent/Guardian Details</h2>
            <p>Tell us about yourself, or the primary contact for the student.</p>
            <div class="row form-floating mb-3">
                <input class="form-control" type="text" id="firstName" name="parent[firstName]" placeholder="First Name"
                    required autofocus>
                <div class="invalid-feedback">
                    Please enter a first name.
                </div>
                <label class="form-label" for="firstName">First Name</label>
            </div>

            <div class="row form-floating mb-3">
                <input class="form-control" type="text" id="lastName" name="parent[lastName]" placeholder="Last Name"
                    required>
                <div class="invalid-feedback">
                    Please enter a name.
                </div>
                <label class="form-label" for="lastName">Last Name</label>
            </div>

            <div class="row form-floating mb-3">
                <input class="form-control" type="email" id="email" name="parent[email]" placeholder="Email" required>
                <div class="invalid-feedback">
                    Please enter a valid email address.
                </div>
                <label class="form-label" for="email">Email Address</label>
            </div>

            <div class="row form-floating mb-3">
                <input class="form-control" type="tel" id="contactNumber" name="parent[contactNumber]"
                    placeholder="Contact Number" required>
                <div class="invalid-feedback">
                    Please enter a contact phone number, preferably a mobile number.
                </div>
                <label class="form-label" for="contactNumber">Contact Number</label>
            </div>
        </div>

        <div class="card p-5 container col-md-6 offset-md-3 mb-3">
            <h2 class="mb-3">Student Details</h2>
            <p>Tell us about the student.</p>
            <div class="row form-floating mb-3">
                <input class="form-control" type="text" id="studentFirstName" name="student[firstName]"
                    placeholder="Student's First Name" required>
                <div class="invalid-feedback">
                    Please enter a first name.
                </div>
                <label class="form-label" for="studentFirstName">First Name</label>
            </div>

            <div class="row form-floating mb-3">
                <input class="form-control" type="text" id="studentLastName" name="student[lastName]"
                    placeholder="Student's Last Name" required>
                <div class="invalid-feedback">
                    Please enter a last name.
                </div>
                <label class="form-label" for="studentLastName">Last Name</label>
            </div>

            <div class="row form-floating mb-3">
                <input class="form-control" type="date" value="1970-01-01" id="dateOfBirth" name="student[dateOfBirth]"
                    placeholder="Date of Birth">
                <label class="form-label" for="dateOfBirth">Date of Birth</label>
            </div>

            <div class="row form-floating mb-3">
                <select class="form-select" id="gender" aria-label="Gender dropdown menu" name="student[gender]"
                    required>
                    <option selected disabled value="">---</option>
                    <option value="Female">Female</option>
                    <option value="Male">Male</option>
                    <option value="Other">Other</option>
                </select>
                <div class="invalid-feedback">
                    Please choose an option.
                </div>
                <label class="form-label" for="gender">Gender</label>
            </div>

            <div class="row form-floating mb-3">
                <textarea class="form-control" placeholder="Additional info" id="additionalInfo" style="height: 150px"
                    name="student[notes]"></textarea>
                <label class="form-label" for="additionalInfo">Comments (optional)</label>
                <p class="mt-3">Leave any additional information here (prior learning/grades, medical conditions,
                    learning
                    difficulties, etc.)</p>
            </div>
        </div>

        <div class="card p-5 container col-md-6 offset-md-3 mb-3">
            <h2>Music Program</h2>
            <p>Tell us about which program you are most interested in.</p>
            <div class="row form-floating mb-3">
                <select class="form-select" id="programSelect" aria-label="Program selection dropdown menu"
                    name="enquiry[program]" required>
                    <option selected disabled value="">---</option>
                    <option value="Jitterbugs">Jitterbugs</option>
                    <option value="Beeboppers">Beeboppers</option>
                    <option value="Pianorama Juniors">Pianorama Juniors</option>
                    <option value="Pianorama Primary">Pianorama Primary</option>
                    <option value="Individual Lessons">Individual Lessons</option>
                    <option value="Adult Lessons">Adult Lessons</option>
                </select>
                <div class="invalid-feedback">
                    Please select a program.
                </div>
                <label class="form-label" for="programSelect">Program</label>
            </div>

            <!-- Section needs work -->
            <div class="row form-floating mb-3">
                <select class="form-select" id="timeSelect" aria-label="Preferred time selection dropdown menu"
                    name="enquiry[preferredTime]" required>
                    <option selected disabled value="">---</option>
                    <option value="Anytime">Any time</option>
                </select>
                <label class="form-label" for="timeSelect">Preferred time</label>
            </div>

            <div class="row mt-3">
                <button class="btn btn-primary">Enrol</button>
            </div>
            <!-- document.getElementById("divid").style.display="none"; -->
        </div>
    </form>